body {

	background-color: #fff;
}

nav {
	text-align: left;
	padding: 100px 0 0 0;
	margin: 0 auto;

}

nav li {
	display:inline;
	}


nav ul{
	border: .15em solid;
	border-width: 100%;
	padding: 1em 0 1em 0;
	background-color: pink;

}


.container{
	border: .15em solid #000;
	background-color: #68B4FF ;
	float: left;
	width: 20%;
	margin: 0 auto 0 .5em;

}

.music{
	border: .15em solid;
	background-color: #e8e687;
	float: left;
	width: 65%;
	padding: 0 6em 0 4.5em;
	margin-left: 1em;
	margin: 0 auto 0 .5em;

}


.songnav{
	list-style-type: none;
}

.wrapper{
	margin: 0 auto;
}









